<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.9" name="org.postgresql">
    <resources>
        <resource-root path="postgresql-42.7.5.jar"/>
    </resources>
    <dependencies>
        <module name="java.sql"/>
        <module name="java.naming"/>
        <module name="java.management"/>
        <module name="java.security.jgss"/>
        <module name="java.security.sasl"/>
        <module name="java.transaction.xa"/>
        <module name="java.xml"/>
    </dependencies>
</module>
